body {
    /*background: #e2e2e2 !important;*/
    /*background: antiquewhite !important;*/
    background: azure !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #e2e2e2 !important;
}

.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.far {
    color: red;
    font-size: 20px;
}

.fab {
    color: blue;
    font-size: 20px;
}

.fag {
    color: green;
    font-size: 20px;
}

.fay {
    color: indigo;
    font-size: 20px;
}

i .fa {
    font-size: 20px;
}

th, td {
    text-align: center;
}