<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="authority/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>MSS - Supply Chain Management System</title>
</head>
<body>

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Add New Payment </h1>
                <div>
                    <p th:text="${message}" style="color: #318043; text-align: center"></p>
                </div>
                <div class="card-body">

                    <!--blood donor form started....-->
                    <form th:action="@{${'/account/payment/requisition/' + requisitionId}}"
                          th:object="${paymentHistoryDTO}" method="post"
                          onsubmit="return amountFormValidator()">

                        <!--payment amount div....-->
                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            <input
                                    type="number"
                                    id="amount"
                                    name="transactionId"
                                    th:field="*{amount}"
                                    th:value="${paymentHistoryDTO.amount}"
                                    min="0"
                                    th:classappend="${#fields.hasErrors('amount') ? 'is-invalid' : ''}"
                                    required="required"
                                    class="form-control"
                                    aria-describedby="validationServer03FeedbackTransactionId"
                            >
                            <span id="amountMessage" style="color: red"></span>
                            <div
                                    th:each="e : ${#fields.errors('amount')}"
                                    th:text="${e}"
                                    id="validationServer03FeedbackAmount"
                                    class="invalid-feedback">
                            </div>
                        </div>


                        <!--student reset & submit div....-->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" onclick="return registrationDealerIsConfirmed()" class="btn btn-success">
                            Payment Submit
                        </button>
                    </form>
                    <!--blood donor form started....-->

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>