<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="dealer/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>MSS - Supply Chain Management System</title>
</head>
<body>

<section>

    <div class="container">
        <div class="container col-md-5" style="text-align: center">

            <h1 style="text-align: center">My Profile</h1>

            <div class="card" style="width: 40rem; text-align: center">
                <img th:src="@{${'/image/' + dealerDTO.attachmentDTOS.get(0).attachmentFileName}}"
                     class="single-card-img-top" alt="Not Available Image">

                <a th:href="@{${'/image/' + dealerDTO.attachmentDTOS.get(1).attachmentFileName}}"
                   class="btn btn-primary">Click Here to Showing NID</a>
                <a th:href="@{${'/image/' + dealerDTO.attachmentDTOS.get(2).attachmentFileName}}"
                   class="btn btn-primary">Click Here to Showing Trade Licence</a>


                <div class="card-body">
                    <div style="text-align: left">
                        <h5 class="card-title" th:text="${'Dealer Name: ' + dealerDTO.name}">Card
                            title</h5>
                        <p class="card-title" th:text="${'Dealer Contact: ' + dealerDTO.contact}">
                            Card title</p>
                        <u><p class="card-title" th:text="${'Dealer Email: ' + dealerDTO.email}">Card
                            title</p></u>
                        <p class="card-title" th:text="${'Dealer Age: ' + dealerDTO.age}">Card
                            title</p>
                        <p class="card-title" th:text="${'Dealer Address: ' + dealerDTO.address}">
                            Card title</p>
                    </div>
                    <a th:href="@{${'/dealer/edit/my/profile/'}}" type="submit"
                       class="btn btn-success">Update
                        My Profile
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>

</body>
</html>
