<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>MSS - Supply Chain Management System</title>
</head>
<body>

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Set Or Change Password </h1>
                <div>
                    <p th:text="${message}" style="color: #318043; text-align: center"></p>
                </div>
                <div class="card-body">

                    <!--blood donor form started....-->
                    <form th:action="@{/set/forget/password}" th:object="${dealerDTO}" method="post"
                          enctype="multipart/form-data" onsubmit="return dealerFormValidator()">

                        <input
                                hidden
                                type="number"
                                name="id"
                                th:field="*{id}"
                                th:value="${dealerDTO.id}"
                        >
                        <input
                                hidden
                                type="text"
                                name="verificationCode"
                                th:field="*{verificationCode}"
                                th:value="${dealerDTO.verificationCode}"
                        >

                        <!--dealer password div....-->
                        <div class="mb-3">
                            <label for="dealerPassword" class="form-label">Dealer Password</label>
                            <input
                                    type="password"
                                    id="dealerPassword"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                    aria-describedby="validationServer03FeedbackDealerPasswordPassword"
                            >
                            <span id="passwordMessage" style="color: red"></span>
                            <div
                                    th:each="e : ${#fields.errors('password')}"
                                    th:text="${e}"
                                    id="validationServer03FeedbackDealerPasswordPassword"
                                    class="invalid-feedback">
                            </div>
                        </div>

                        <!--dealer confirm password div....-->
                        <div class="mb-3">
                            <label for="dealerConfirmPassword" class="form-label">Dealer Confirm
                                Password</label>
                            <input
                                    type="password"
                                    id="dealerConfirmPassword"
                                    name="password"
                                    th:field="*{password}"
                                    th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                    class="form-control"
                                    aria-describedby="validationServer03FeedbackDealerConfirmPassword"
                            >
                            <span id="confirmPasswordMessage" style="color: red"></span>
                            <div
                                    th:each="e : ${#fields.errors('password')}"
                                    th:text="${e}"
                                    id="validationServer03FeedbackDealerConfirmPassword"
                                    class="invalid-feedback">
                            </div>
                        </div>

                        <!--student reset & submit div....-->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="submit" class="btn btn-success">Submit
                        </button>
                    </form>
                    <!--blood donor form started....-->

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>